// * {border: 1px solid red !important;}

.content-container {
	width: 100% !important;

	.header {
		width: 100%;
		height: 575px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background: linear-gradient(
				220deg,
				rgba(8, 95, 99, .5) 0%,
				rgba(245, 225, 218, .5) 60%,
				rgba(73, 190, 183, .5) 90%
			),
			url(https://mynewsla.com/wp-content/uploads/2015/08/restaurant-691397_1280.jpg) no-repeat center bottom
				fixed;
		background-size: cover;

		.city-name {
			padding-top: 90px;
			font-size: 4rem;
			color: rgba(8, 95, 99, 1);
			text-shadow: 0px 0px 20px rgba(245, 225, 218, 1);
		}

		.lower-header-content {
			transform: translateY(-70%);

			.search-bar-header {
				transform: translateY(-150%);

				.input {
					width: 50%;
					height: 50px;
				}
			}

			.checkbox {
				font-size: 2.4rem;
				font-weight: 700;
				label {
					color: white;
					text-shadow: 0px 0px 10px rgba(8, 95, 99, 1);
				}
			}
		}
	}

	.restaurant-container {
		transform: translateY(1%);
		width: 75%;
		margin: 0 auto;

		.restaurant-card {
			background-color: blue !important;
			margin: 30px;
			height: 350px;
			width: 300px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-content: center;
			padding: 20px;
			text-align: left;

			.rest-details {
				width: 88%;
				margin: 0 auto;
				font-size: 1.6rem;
				font-weight: 600;
			}

			.rest-name {
				font-size: 2.2rem;
				font-weight: 800;
			}

			.add-remove-buttons {
				width: 88%;
				margin: 0 auto;
				height: auto;
				display: flex;
				flex-direction: row-reverse;
				justify-content: space-between;
			}
		}
	}
}
